mat-card{
    width: 35%;
    position: absolute;
    left:30%;
    top: 20%;
    padding: 10px 10px 10px 10px;
}
mat-form-field{
    width: 80%;
    margin-left: 15px;
}
mat-card-actions{
    text-align: center;
}
.successmsg{
    position: absolute;
    top: 20%;
    left: 20%;
}