<mat-card *ngIf="!changed">
  <mat-card-header>
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="changePasswordData">
      <mat-form-field>
        <mat-label>UserName</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="username">
      </mat-form-field><br>
      <mat-form-field *ngIf="codesent">
        <mat-label>Code</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="code">
      </mat-form-field>
      <div formGroupName="passwordGroup" *ngIf="isVarified">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput autocomplete="off" formControlName="password">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="confirmpassword">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!isVarified && !codesent" mat-button (click)="sendCode()">Verify User And Send Code</button>
    <button *ngIf="codesent && !isVarified" mat-button (click)="verifyCode()">Verify Code</button>
    <button *ngIf="isVarified" mat-button (click)="changePassword()">Change</button>
  </mat-card-actions>
</mat-card>
<div class="successmsg" *ngIf="changed">
  <div>
    <span>Password changed Successfully</span><br>
    <button type="button" mat-button  (click)="backToLogin()">Back To Login</button>
  </div>
</div>