<div *ngIf="data.isEdit">
    <h1 mat-dialog-title>Edit Password</h1>
    <div mat-dialog-content>
        <form [formGroup]="addPasswordData">
            <mat-form-field>
                <mat-label>Type</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="typepassword">
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Account</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="category">
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="password">
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" (click)="cancelProcess()">Cancel</button>
        <button mat-button color="primary" (click)="updateData()">Update</button>
    </div>
</div>
<div *ngIf="data.isDelete">
    <div mat-dialog-content>
        <p>Delete Data</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="primary" [mat-dialog-close]="false" (click)="cancelProcess()">No</button>
        <button mat-button color="warn" [mat-dialog-close]="true">Delete</button>
    </div>
</div>
<div *ngIf="data.isAdd">
    <h1 mat-dialog-title>Add Note</h1>
    <div mat-dialog-content>
        <form [formGroup]="addNoteData">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="notetitle">
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="notedesc">
            </mat-form-field><br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false" (click)="cancelProcess()">No</button>
        <button mat-button color="primary" (click)="addData()">Add</button>
    </div>
</div>

<div *ngIf="data.isNodeEdit">
    <h1 mat-dialog-title>Edit Note</h1>
    <div mat-dialog-content>
        <form [formGroup]="editNoteData">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="notetitle">
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="notedesc">
            </mat-form-field><br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false" (click)="cancelProcess()">No</button>
        <button mat-button color="primary" (click)="updateNotesData()">Update</button>
    </div>
</div>