<div>
  <div *ngFor="let data of dataList" class="panelDiv">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{data.Category}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <hr>
      <ng-template matExpansionPanelContent>
        <table>
          <tr class="primary">
            <th>Category</th>
            <th>Password</th>
          </tr>
          <tr>
            <td>{{data.TypePassword}}</td>
            <td>{{data.Password}}</td>
          </tr>
        </table>
      </ng-template>
      <mat-action-row>
        <button mat-button color="warn" (click)="deleteRecords(data)">Delete</button>
        <button mat-button color="primary" (click)="editRecords(data)">Edit</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
</div>