<mat-card *ngIf="!success">
    <mat-card-header>
      <mat-card-title>Add New Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
     <form [formGroup]="addPasswordData">
        <mat-form-field>
            <mat-label>Category</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="category">
          </mat-form-field><br>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="password">
          </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="addPassword()">Add</button>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="success" class="successDiv">
    <span>Data Saved Successfully</span><br>
    <button mat-button (click)="success = !success">Save More</button>
  </div>
  